doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="/jquery/jquery.min.js")
    script(src="/materialize/materialize.min.js")
    - src = process.env.NODE_ENV === 'production' ? 'vendor.js' : 'http://localhost:8080/vendor.js'
    script(src=src)
  body
    block content
